* {
    box-sizing: border-box;
    transition: .25s all ease;
}
body {
    /* background-image: url(../../assets/img/config/bg_login.jpg);
    background-size: 550px; */
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
    min-height: 97vh;
}
.login-container {
    position: relative;
    width: 420px;
    padding: 3rem  2rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 33px 5px rgb(63, 69, 69);
    -moz-box-shadow: 0px 0px 33px 5px rgb(63, 69, 69);
    box-shadow: 0px 0px 33px 5px rgb(63, 69, 69);
    border-radius: 15px;
}
.text-admin{
    font-size: 16px;
}

.spinner-border {
    width: 1.5rem !important;
    height: 1.5rem !important;
}
#login-msj-code{
    color: crimson;
}